/*
  Links to other css files
*/

/*CSS file for menu/navigation bar on top*/
@import url(menu.css);

/*CSS file for contact section at the bottom*/
@import url(contact.css);

/*CSS file for general layout to avoid repetition*/
@import url(details.css);

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');
/*font-family: 'Expletus Sans', cursive;*/

/*
  Section description styling
*/
.top_title, .top_text {
  color: #ffffff;
}

#upper_bio {
  background: linear-gradient(#064e85, #0185c3);
  /*background-color: #0185c3;*/
}

#lower_bio {
  background: linear-gradient(#14a9ee, #81d7ff);
  /*background-color: #81d7ff;*/
}

/*Section titles & texts*/
.lower_section .detail_title, .lower_section .detail_text {
  color: #000000;
}

/*Media querries for a few differences*/
@media (min-width: 1000px) {
  .top_title {
    width: 400px;
  }
}