/*
  Links to other css files
*/

/*CSS file for menu/navigation bar on top*/
@import url(menu.css);

/*CSS file for contact section at the bottom*/
@import url(contact.css);

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');
/*font-family: 'Expletus Sans', cursive;*/

/*body*/
body {
  background-color: #000000;
  margin: 0;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/*Fonts*/
p {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-align: left;
  line-height: 1.5;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

h2, h3, a {
  font-family: 'Expletus Sans', cursive;
}

/*Menu changes*/
.navbar {
  background-color: #000000;
}
.navi {
  background-color: rgba(0, 0, 0 , 0.9);
}
.menu a {
  color: #ffffff;
}
.burgerline, .burgerline::before,
.burgerline::after {
  background: #ffffff;
}

/*
  Top section
*/

/*Image on top*/
.image {
  width: 100%;
}

.main_image {
  width: 100%;
  top: 0;
  margin-top: -5px;
}

/*h1 on image*/
.top_title, .top_text {
  position: absolute;
  overflow: hidden;
  top: 85px;
  margin-left: 5%;
  width: 300px;
  font-size: larger;
  color: #ffffff;
}

.top_text {
  top: 120px;
  font-size: small;
  width: 240px;
}

/*
  Media querries for the main title and text right bellow it
*/
/*
@media (min-width: 700px) {
  .top_title {
    top: 200px;
    font-size: 28px;
  }

  .top_text {
    top: 255px;
    font-size: 16px;
    width: 280px;
  }
}*/

@media (max-width: 999px) {
  .top_title {
    top: 160px;
    font-size: 42px;
    width: 600px;
  }

  .top_text {
    top: 235px;
    font-size: 28px;
    width: 400px;
  }
}

@media (min-width: 1000px) {
  .top_title {
    top: 150px;
    font-size: 32px;
  }

  .top_text {
    top: 220px;
    font-size: 18px;
    width: 300px;
  }
}

/*
  The exhibition details split to two groups
*/

/*Upper and lower section*/
.upper_section {
  flex-direction: column;
  margin-top: -5px;
}

.lower_section {
  flex-direction: column;
}

/*Section description*/
.detail_desc {
  padding: 10px 0 20px 0;
  background-color: #000000;
}

.detail_title {
  font-size: larger;
  text-align: center;
  margin: 10px auto 30px auto;
  color: #ffffff;
  text-decoration: underline;
}

.detail_text {
  width: 80%;
  margin: 0 auto 20px auto;
  color: #ffffff;
}

/*Upper section image*/
.detail_image {
  width: 100%;
}

/*
  Media querries for upper and lower sections
*/

@media (max-width: 1000px) {
  .upper_section {
    flex-direction: column;
    display: flex;
  }

  .lower_section {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .upper_section {
    display: flex;
    flex-direction: row;
    margin-top: -250px;
  }

  .lower_section {
    display: flex;
    flex-direction: row-reverse;
  }

  .detail_desc {
    width: 50%;
  }

  .detail_image {
    width: 50%;
  }
}