/*
  Link to the menu css file
*/
@import url(menu.css);

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');
/*font-family: 'Expletus Sans', cursive;*/

/*body*/
body {
  background-color: #000000;
  margin: 0;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/*Fonts*/
p {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-align: left;
  line-height: 1.5;
}

h1, h2, h3, a {
  font-family: 'Expletus Sans', cursive;
}


/*Text in section buttons*/
/*
.button_text {
  color: #ffffff;
  text-align: center;
}*/

/*Menu changes*/
.navbar {
  background-color: #000000;
}
.navi {
  background-color: rgba(0, 0, 0 , 0.9);
}
.menu a {
  color: #ffffff;
}
.burgerline, .burgerline::before,
.burgerline::after {
  background: #ffffff;
}

/*
  Top section
*/

.top_description {
  background: linear-gradient(#6772D0, #040F21);
  padding: 30px 0 80px 0;
  width: 100%;
  align-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin: auto;
}

.desc {
  margin: 20px auto 30px auto;
  text-decoration: underline;
  color: #ffffff;
}

.text {
  width: 80%;
  margin: 0 auto 10px auto;
}

@media (min-width: 600px) {
  .text {
    width: 60%;
  }
}

/*
  Now for the exhibit sections
*/
/*The Cosmology section*/

.cosmology {
  background: linear-gradient(#040F21, #1D3449);
  padding: 10px 0 10px 0;
}

/*The section itself*/
.cosmos_section {
  flex-direction: column;
  margin: 10px auto 50px auto;
}

.cosmos_desc {
  padding: 10px 0 20px 0;
  background-color: #000000;
}

/*Title and text*/
.cosmos_title {
  font-size: larger;
  width: 80%;
  text-align: center;
  margin: 10px auto 30px auto;
  text-align: left;
  color: #ffffff;
}

.cosmos_text {
  width: 80%;
  margin: 10px auto 20px auto;
  color: #ffffff;
}

/*Cosmos image under/beside text*/
.cosmos_image {
  width: 100%;
}

/*Media querries for cosmology section*/
@media (min-width: 930px) {
  .cosmos_section {
    display: flex;
    flex-direction: row-reverse;
  }

  .cosmos_desc {
    width: 45%;
    margin-right: 5%;
  }

  .cosmos_title {
    width: 90%;
  }

  .cosmos_image {
    width: 45%;
    margin-left: 5%;
  }
}

/*Cosmos button*/
/*
.cosmos_button {
  width: 200px;
  height: 40px;
  margin: 20px auto 30px auto;
  background: #2389C1;
  border-radius: 10px;
  text-decoration: none;
}*/

/*
.textbox {
  width: 90%;
  margin: auto;
  background: #000000;
}
.cosmos_text {
  width: 80%;
  margin: 0 auto 20px auto;
}*/

/*Contact section*/
.contact_section {
  background-color: #d9d9d9;
  padding: 10px 0 50px 0;
}

.contact_title {
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
}

.contact_text {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  color: #000000;
}

.contact_info {
  width: 80%;
  margin: auto;
  color: #000000;
}

.list {
  margin: 10px 0 10px 0;
}

.info {
  font-weight: bold;
}

.side {
  color: #000000;
}

.info, .side {
  display: inline;
}

@media (min-width: 930px) {
  .contact_parts {
    display: flex;
    flex-direction: row;
  }

  .contact_text {
    width: 40%;
    margin: auto;
  }

  .contact_info {
    width: 40%;
    margin: auto;
  }
}