/*
  Links to other css files
*/

/*CSS file for menu/navigation bar on top*/
@import url(menu.css);

/*CSS file for contact section at the bottom*/
@import url(contact.css);

/*
  Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');
/*font-family: 'Expletus Sans', cursive;*/

/*body*/
body {
  background-color: #000000;
}

/*List style*/
ul {
  list-style: none;
}

/*Fonts*/
p {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-align: left;
  line-height: 1.5;
}

h1, h2, h3, a {
  font-family: 'Expletus Sans', cursive;
}

/*Menu changes*/
.navbar {
  background-color: #000000;
}
.navi {
  background-color: rgba(0, 0, 0 , 0.9);
}
.menu a {
  color: #ffffff;
}
.burgerline, .burgerline::before,
.burgerline::after {
  background: #ffffff;
}

/*
  Top section
*/
.top_description {
  background: linear-gradient(#6772D0, #040F21);
  width: 100%;
  align-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin: auto;
}

.desc {
  margin: 20px auto 30px auto;
  text-decoration: underline;
  color: #ffffff;
}

.text {
  margin: 0 auto 10px auto;
}

/*Media querries for top description*/
@media (min-width: 700px) {
  .top_description {
    padding: 30px 0 100px 0;
  }

  .desc {
    font-size: 46px;
  }

  .text {
    width: 66%;
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  .top_description {
    padding: 30px 0 80px 0;
  }

  .desc {
    font-size: 36px;
  }

  .text {
    width: 72%;
    font-size: 16px;
  }
}

/*
  Now for the exhibit sections
*/

/*The Cosmology section*/
.exhibit {
  padding: 10px 0 10px 0;
  text-align: center;
  align-content: center;
}

/*The section itself*/
.exhibit_section {
  flex-direction: column;
  margin: 10px auto 0 auto;
}

.exhibit_desc {
  padding: 10px 0 20px 0;
  background-color: #000000ba;
}

/*Title and text*/
.exhibit_title {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  width: 80%;
  text-align: center;
  margin: 10px auto 30px auto;
  text-align: left;
  color: #ffffff;
  text-decoration: overline;
}

.exhibit_text {
  width: 80%;
  margin: 10px auto 20px auto;
  color: #ffffff;
}

/*Cosmos image under/beside text*/
.exhibit_image {
  width: 100%;
}

/*Media querries for each section*/
@media (max-width: 1000px) {
  .exhibit_section {
    display: flex;
    flex-direction: column;
  }

  .exhibit_desc {
    padding: 20px 0 50px 0;
  }

  .exhibit_text {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .exhibit_section {
    display: flex;
    flex-direction: row-reverse;
  }

  .exhibit_desc {
    width: 45%;
    margin-right: 5%;
    background-color: #000000;
  }

  .exhibit_title {
    width: 90%;
    font-size: 24px;
  }

  .exhibit_text {
    font-size: 16px;
  }

  .exhibit_image {
    width: 45%;
    margin-left: 5%;
  }
}

/*Cosmos button and hover effects*/
.exhibit_button {
  display: inline-block;
  width: 500px;
  height: 100px;
  margin: 50px auto 80px auto;
  border-radius: 20px;
  text-decoration: none;
}

/*Different text types inside the buttons*/
.white_button_text, .black_button_text {
  margin: 24px auto 0 auto;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
}

.white_button_text {
  color: #ffffff;
}

.black_button_text {
  color: #000000;
}

/*Keyframes and hover effect for text in button*/
@keyframes shake {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 20px;
  }

  100% {
    margin-left: 0;
  }
}

.white_button_text:hover, .black_button_text:hover {
  animation: shake 1s infinite;
}

/*Media querries for buttons*/
@media (min-width: 1000px) {
  .exhibit {
    align-content: flex-start;
    text-align: right;
  }

  .exhibit_button {
    margin: -30px 5% 50px 0;
    width: 250px;
    height: 50px;
    border-radius: 10px;
  }

  .white_button_text, .black_button_text {
    margin: 10px auto 0 auto;
    font-size: 24px;
  }
}

/*
  Difference between certain elements
*/

/*Background colors for each sections*/
#cosmology {
  background: linear-gradient(#040F21, #1D3449);
}

#evolution {
  background: linear-gradient(#1D3449, #83399e);
}

#biology {
  background: linear-gradient(#83399e, #c10638);
}

#robotics {
  background: linear-gradient(#c10638, #0185c3);
}

#ecology {
  background: linear-gradient(#0185c3, #0c8620);
}

/*Button colors for each sections*/
#cosmos_button {
  background-color: #2389C1;
}

#evo_button {
  background-color: #84C4FF;
}

#bio_button {
  background-color: #E755FF;
}

#robo_button {
  background-color: #41FFFF;
}

#eco_button {
  background-color: #00FF0A;
}