/*
  Link to the menu css file
*/
@import url(menu.css);

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');
/*font-family: 'Expletus Sans', cursive;*/

/*body*/
body {
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/*Fonts*/
p {
  font-family: 'Inter', sans-serif;
}

h3 {
  font-family: 'Inter', sans-serif;
}

h1, h2, a {
  font-family: 'Expletus Sans', cursive;
}

/*Menu changes*/
.navbar {
  background-color: #000000;
}
.navi {
  background-color: rgba(0, 0, 0 , 0.9);
}
.menu a {
  color: #ffffff;
}
.burgerline, .burgerline::before,
.burgerline::after {
  background: #ffffff;
}

/*
  Top section
*/

.top_description {
  background: linear-gradient(#6772D0, #040F21);
  padding: 30px 0 80px 0;
  width: 100%;
  align-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin: auto;
}

.desc {
  margin: 20px auto 30px auto;
  color: #ffffff;
}

.text {
  width: 60%;
  margin: 0 auto 10px auto;
  color: #ffffff;
}

@media (min-width: 600px) {}

/*
  Now for the exhibit sections
*/

/*Cosmology section*/


/*Contact section*/
.contact_section {
  background-color: #d9d9d9;
  padding: 10px 0 50px 0;
}

.contact_title {
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
}

.contact_text {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.contact_info {
  width: 80%;
  margin: auto;
}

.list {
  margin: 10px 0 10px 0;
}

.info {
  font-weight: bold;
}

.info, .side {
  display: inline;
}

@media (min-width: 930px) {
  .contact_parts {
    display: flex;
    flex-direction: row;
  }

  .contact_text {
    width: 40%;
    margin: auto;
  }

  .contact_info {
    width: 40%;
    margin: auto;
  }
}