/*
  Links to other css files
*/

/*CSS file for menu/navigation bar on top*/
@import url(menu.css);

/*CSS file for contact section at the bottom*/
@import url(contact.css);

/*
  Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');
/*font-family: 'Expletus Sans', cursive;*/

/*List style*/
ul {
  list-style: none;
}

/*Fonts*/
p {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

h3 {
  font-family: 'Inter', sans-serif;
}

h1, h2, a {
  font-family: 'Expletus Sans', cursive;
}

/*Top image*/
.image {
  width: 100%;
}

.main_image {
  width: 100%;
  top: 0;
  margin-top: -5px;
}

/*h1 on top image*/
.title {
  position: absolute;
  overflow: hidden;
  top: 85px;
  margin-left: 5%;
  width: 350px;
  font-size: larger;
}

/*Media querries for the main title on top image*/
@media (min-width: 700px) {
  .title {
    top: 160px;
    font-size: 50px;
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .title {
    top: 140px;
    font-size: 40px;
    width: 400px;
  }
}

/*website description*/
.top_description {
  align-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin: auto;
  padding-bottom: 40px;
}

.top_description_title {
  margin: 20px auto 30px auto;
}

.top_description_text {
  margin: 0 auto 10px auto;
}

/*Media Querries for textbox size*/
@media (min-width: 700px) {
  .top_description {
    width: 60%;
  }

  .top_description_title {
    font-size: 46px;
  }

  .top_description_text {
    font-size: 36px;
  }
}

@media (min-width: 1000px) {
  .top_description {
    width: 80%;
  }

  .top_description_title {
    font-size: 28px;
  }

  .top_description_text {
    font-size: 16px;
  }
}

/*
  Section for person types (Age or profession)
*/

/*Section and their description*/
.section_category {
  flex-direction: column;
  margin-bottom: 50px;
}

.category_description {
  padding: 10px 0 20px 0;
  background-color: #0b3a70;
}

#teacher_description {
  background-color: #7B3287;
}

#research_description {
  background-color: #37608F;
}

/*Title and texts in each section*/
.category_title {
  font-size: larger;
  text-align: center;
  margin: 10px auto 30px auto;
  color: #ffffff;
}

.category_text {
  width: 80%;
  margin: 0 auto 20px auto;
  color: #ffffff;
}

/*Section image*/
.category_image {
  width: 100%;
}

/*
  Media querries for all sections
*/

@media (max-width: 1000px) {
  .section_category {
    display: flex;
    flex-direction: column;
  }

  .category_title {
    font-size: 20px;
  }

  .category_text {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .section_category {
    display: flex;
    flex-direction: row;
  }

  #teacher_category {
    display: flex;
    flex-direction: row-reverse;
  }

  .category_description {
    width: 50%;
  }

  .category_image {
    width: 50%;
  }
}