/*
  Styling the scrollbar
*/

::-webkit-scrollbar {
  height: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8a6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7ebc;
}