/*
  Links to other css files
*/

/*CSS file for menu/navigation bar on top*/
@import url(menu.css);

/*CSS file for contact section at the bottom*/
@import url(contact.css);

/*
  Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');
/*font-family: 'Expletus Sans', cursive;*/

/*body*/
body {
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  font-family: 'Expletus Sans', cursive;
}

/*Fonts*/
h1, h2 {
  font-family: 'Expletus Sans', cursive;
}

p, h3 {
  font-family: 'Inter', sans-serif;
  text-align: left;
  line-height: 1.5;
}

/*
  Top section of page
*/
.title {
  text-align: center;
  margin: 20px auto 30px auto;
  text-decoration: underline;
}

.top {
  flex-direction: column;
  text-align: center;
  align-content: center;
}

/*Page title and description*/
.top_title, .top_text {
  width: 80%;
  margin: auto;
  text-align: left;
}

.top_text {
  margin-bottom: 10px;
}

.top_title {
  margin-bottom: 20px;
}

.top_desc {
  margin-bottom: 30px;
}

/*map image*/
.map {
  width: 80%;
  margin: auto;
}

.map:hover {
  transform: scale(110%);
  transition: 0.5s;
}

/*Media querries for top section*/
@media (max-width: 1000px) {
  .top {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .title {
    margin-bottom: 60px;
  }

  .top {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }

  .top_desc {
    width: 40%;
    margin-left: 9%;
  }

  .map {
    width: 40%;
    margin-right: 9%;
  }
}

/*
  Mid section
*/

/*Similarities*/
.upper_section, .lower_section {
  padding: 10px 0 30px 0;
  text-align: center;
  align-content: center;
}

.lower_section {
  margin: -40px auto -30px auto;
}

.middle_title {
  margin: 10px auto 20px auto;
}

.inside_section {
  text-align: center;
  align-content: center;
}

/*
  inside-text and image are for the 
  cafe and shop sections
*/
.inside_image {
  width: 80%;
  margin: 10px auto 20px auto;
}

.inside_image:hover {
  transform: scale(110%);
  transition: 0.5s;
}

.inside_text {
  width: 80%;
  margin: 10px auto 10px auto;
}

/*Opening times*/
.open {
  background-color: #e7e7e7;
  margin-top: 40px;
  padding: 10px 0 30px 0;
}

.open_times {
  width: 80%;
  margin: auto;
}

.time {
  display: flex;
  flex-direction: row;
  margin: 10px auto 10px auto;
}

li + p {
  margin: 0 10px 0 10px;
}

/*
  Cafe/Food and drinks
*/
.cafe {
  background-color: #B8CBDD;
  padding: 10px 0 30px 0;
}

/*
  Shop
*/
.shop {
  background-color: #EBA8A8;
  padding: 10px 0 30px 0;
}

/*
  accessibility
*/
.access {
  background-color: #C0FBCD;
  padding: 10px 0 30px 0;
}

.access_text {
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
}

/*Media querries for accessibility*/
@media (max-width: 1000px) {
  .upper_section, .lower_section {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .upper_section, .lower_section {
    display: flex;
    flex-direction: row;
  }

  .open {
    width: 30%;
  }

  .cafe {
    width: 70%;
    margin-top: 40px;
  }

  .shop {
    width: 70%;
  }

  .access {
    width: 30%;
  }

  .inside_section {
    display: flex;
    flex-direction: row;
  }

  .inside_image {
    width: 40%;
    margin-left: 5%;
  }

  .inside_text {
    width: 40%;
    margin-right: 5%;
  }
}