/*
  Links to other css files
*/

/*CSS file for menu/navigation bar on top*/
@import url(menu.css);

/*CSS file for contact section at the bottom*/
@import url(contact.css);

/*
  Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');
/*font-family: 'Expletus Sans', cursive;*/

/*body*/
body {
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  font-family: 'Expletus Sans', cursive;
}

/*Fonts*/
h1, h2 {
  font-family: 'Expletus Sans', cursive;
}

p, h3 {
  font-family: 'Inter', sans-serif;
  text-align: left;
  line-height: 1.5;
}

p + li {
  display: inline-block;
}

/*
  Top section of page
*/
.title {
  text-align: center;
  margin: 20px auto 30px auto;
}

.top {
  flex-direction: column;
  text-align: center;
  align-content: center;
}

/*Page title and description*/
.top_title, .top_text {
  width: 80%;
  margin: auto;
  text-align: left;
}

.top_text {
  margin-bottom: 10px;
}

.top_title {
  margin-bottom: 20px;
}

.top_desc {
  margin-bottom: 30px;
}

/*map image*/
.map {
  width: 80%;
  margin: auto;
}

.map:hover {
  transform: scale(110%);
  transition: 0.5s;
}

/*Media querries for top section*/
@media (max-width: 930px) {
  .top {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 930px) {
  .title {
    margin-bottom: 60px;
  }

  .top {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }

  .top_desc {
    width: 40%;
    margin-left: 9%;
  }

  .map {
    width: 40%;
    margin-right: 9%;
  }
}