/*
  Links to other css files
*/

/*CSS file for menu/navigation bar on top*/
@import url(menu.css);

/*CSS file for contact section at the bottom*/
@import url(contact.css);

/*
  Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&display=swap');
/*font-family: 'Expletus Sans', cursive;*/

/*List style*/
ul {
  list-style: none;
}

li {
  font-family: 'Expletus Sans', cursive;
}

/*Fonts*/
h1, h2 {
  font-family: 'Expletus Sans', cursive;
}

p, h3 {
  font-family: 'Inter', sans-serif;
  text-align: left;
  line-height: 1.5;
}

/*
  Top section of page
*/
.title {
  text-align: center;
  margin: 20px auto 50px auto;
  text-decoration: underline;
}

.top_part {
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.top_part_description {
  margin-bottom: 30px;
}

/*Page title and description*/
.top_description_title, .top_description_text {
  width: 80%;
  margin: auto;
  text-align: left;
}

.top_description_text {
  margin-bottom: 10px;
}

.top_description_title {
  margin-bottom: 20px;
}

/*map image*/
.top_part_map {
  width: 80%;
  margin: 0 auto 0 auto;
}

.top_part_map:hover {
  transform: scale(110%);
  transition: 0.5s;
}

/*Media querries for top section*/
@media (max-width: 1000px) {
  .title {
    font-size: 46px;
  }

  .top_part {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }

  .top_description_title {
    font-size: 46px;
  }

  .top_description_text {
    font-size: 20px;
  }

  .top_part_map {
    width: 80%;
    margin: 0 auto 20px auto;
  }
}

@media (min-width: 1000px) {
  .title {
    margin-bottom: 60px;
    font-size: 36px;
  }

  .top_part {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
  }

  .top_part_description {
    width: 40%;
    margin-left: 9%;
  }

  .top_part_map {
    width: 40%;
    margin-right: 9%;
  }
}

/*
  Mid section
*/

/*Similarities*/
.section_upper, .section_lower {
  padding: 10px 0 30px 0;
  text-align: center;
  align-content: center;
}

.section_lower {
  margin: -40px auto -30px auto;
}

.article_title {
  margin: 10px auto 30px auto;
}

.article_description {
  text-align: center;
  align-content: center;
}

/*
  The text and image for the 
  cafe and shop sections
*/
.article_description_image {
  width: 80%;
  margin: 10px auto 20px auto;
}

.article_description_image:hover {
  transform: scale(110%);
  transition: 0.5s;
}

.article_description_text {
  width: 80%;
  margin: 10px auto 10px auto;
}

/*Opening times*/
.opening {
  background-color: #e7e7e7;
  margin-top: 40px;
  padding: 10px 0 30px 0;
}

.opening_time {
  width: 80%;
  margin: auto;
}

.opening_time_day {
  display: flex;
  flex-direction: row;
  margin: 10px auto 10px auto;
  font-family: 'Inter', sans-serif;
}

.opening_time_day li {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

li + p {
  margin: 0 10px 0 10px;
}

/*
  Cafe/Food and drinks
*/
.cafe {
  background-color: #B8CBDD;
  padding: 10px 0 30px 0;
}

/*
  Shop
*/
.shop {
  background-color: #EBA8A8;
  padding: 10px 0 30px 0;
}

/*
  accessibility
*/
.accessibility {
  background-color: #C0FBCD;
  padding: 10px 0 30px 0;
}

.accessibility_text {
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
}

/*Media querries for all sections*/
@media (max-width: 1000px) {
  .section_upper, .section_lower {
    display: flex;
    flex-direction: column;
  }

  .opening, .cafe, .shop, .accessibility {
    padding-bottom: 50px;
  }

  .article_title {
    font-size: 32px;
  }

  .opening_time_day li {
    font-size: 36px;
  }

  .opening_time_day p {
    font-size: 34px;
  }
}

@media (min-width: 1000px) {
  .section_upper, .section_lower {
    display: flex;
    flex-direction: row;
  }

  .opening {
    width: 30%;
  }

  .cafe {
    width: 70%;
    margin-top: 40px;
  }

  .shop {
    width: 70%;
  }

  .accessibility {
    width: 30%;
  }

  .opening, .cafe, .shop, .accessibility {
    padding-bottom: 10px;
  }

  .article_description {
    display: flex;
    flex-direction: row;
  }

  .article_description_image {
    width: 40%;
    margin-left: 5%;
  }

  .article_description_text {
    width: 40%;
    margin-right: 5%;
  }
}